.card {
  img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
  }

  h3 {
    text-align: center;
    margin: 10px;
  }
  p {
    color: #616161;
    font-size: 13px;
    text-align: center;
  }
}
