.card {
  list-style-type: none;

  img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
  }

  h3 {
    text-align: center;
    margin: 10px 10px 5px;
  }
  p {
    color: #616161;
    font-size: 13px;
    text-align: center;
    margin: 5px 0;
  }

  div {
    position: relative;

    span {
      position: absolute;
      right: 26px;
      bottom: 12px;
      background-color: #6935fd;
      border-radius: 50%;
      color: #fff;
      padding: 5px;
    }
  }
}
