@use '../../styles/variables' as variables;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 25px;

  &__logo {
    color: variables.$main-color;
    font-size: 30px;
    font-weight: 700;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    padding-right: 20px;
  }
}
